$c: 'Black', #000000;
$c: 'BaseDark', #3f3f3f;
$c: 'Base', #444444;
$c: 'PurpleBase', #62007A;
$c: 'PurpleMain', #9323af;
$c: 'PurpleLight', #C800FA;
$c: 'DarkBlue', #0d1d31;
$c: 'LightBlue', #00c3ff;
$c: 'White', #FFFFFF;